@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');


:root {
    --cor-primaria: #0033cc;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #ff6600 ;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    --fonte-terciaria: "Roboto", sans-serif;
}

body {
    font-family: var(--fonte-secundaria);
    background-image: url('');
    background-size: cover;
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    
}

.tituloDestaque{
    color:#22d4fd;
    font-size: 110%;

}

cabecalho {
    padding: 2% 14%;
    margin-bottom: 200px;
    
}

.cabecalhoMenu {
    display: flex;
    gap: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    width: 15%;
    margin-right: 50px;
}

.cabecalhoMenuLink {
    font-family: var(--fonte-secundaria);
    font-size: 22px;
    font-weight: 499;
    font-style: bold;
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 20px;
    
}

.apresentacao {
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: column;
    background-image: url();
    
    
}

.apresentacaoCall {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color:#15b8dd;


    color: #F6F6F6;
    justify-content: space-between;
    justify-content: center;
    background-size: 20%;

    
    

}

.imagemFrete {
    width: 30%;
    align-content: center;
    margin-bottom: 0px;
    line-height: 0;
   
    
    
    
}

.imagemFreteCaminhao {
    width: 100%;
    
    

}



.callToAction {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os filhos no eixo horizontal */
    justify-content: center; /* Alinha os filhos no eixo vertical */
    font-family: var(--cor-secundaria);
    width: 340px; /* Use 100% para aproveitar o espaço do container pai */
    text-align: center;
    /* Garante que o bloco ocupe toda a altura do pai */
    align-content:space-around;
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 480px;
    margin-right: 10px;
    margin-left: 10px;


}

.callToActionIcone {
    width: 29%;
    margin-top: 30px
}


.callToActionTitulo {
    font-size: 22px;
    margin-top: 10px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    
}

.callToActionTexto {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    font-family: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    margin-right: 5px;
    
}

.callToActionBotao {
    display: flex;
    justify-content: center;
    align-items: center; /* Garante que o conteúdo dentro do botão esteja centralizado */
    gap: 10px;
    border: 2px solid var(--cor-secundaria);
    width: 170px;
    height: 20px; /* Defina uma altura específica se necessário */
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-style: normal;
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 21px;
    margin-top: 30px;
    background-color:var(--cor-terciaria);
    margin-bottom: 10px;
   
}

.callToActionBotao:hover {
    background-color: #127028;
    transform: scale(1.05);
    cursor: pointer;
}


.imagemMoveis {
    width: 30%;
    align-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 0;

    

}

.imagemMoveisRoupeiro {
    width: 100%;
    margin-top: 0px;
    bottom: 10px;
    
    
    

}

.callToActionMontagens {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os filhos no eixo horizontal */
    justify-content: center; /* Alinha os filhos no eixo vertical */
    font-family: var(--cor-secundaria);
    width: 340px; /* Use 100% para aproveitar o espaço do container pai */
    text-align: center;
    /* Garante que o bloco ocupe toda a altura do pai */
    align-content:space-around;
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 480px;
    margin-right: 10px;
    margin-left: 10px;
}

.callToActionMontagensTitulo {
    font-size: 20px;
    margin-top: 10px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    
    
    
}

.callToActionMontagensTexto {
    font-size: 18px;
    margin-top: px;
    text-align: center;
    font-family: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    padding: 5px;
}

.callToActionMontagensBotao {
    display: flex;
    justify-content: center;
    align-items: center; /* Garante que o conteúdo dentro do botão esteja centralizado */
    gap: 10px;
    border: 2px solid var(--cor-secundaria);
    width: 170px;
    height: 20px; /* Defina uma altura específica se necessário */
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-style: normal;
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 21px;
    margin-top: 30px;
    background-color: var(--cor-primaria);
    margin-bottom: 30px;
    cursor: pointer;
    
}

    .callToActionMontagensBotao:hover {
        background-color: #127028;
        transform: scale(1.05);
        cursor: pointer;
        
    }
    



.sliderSectionBlocoPrimeiro {
    display: flex;
    flex-direction:row;
    width: 80%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:  30px;
    gap: 20px;
    text-align: center;
    align-items: center;
    color:#666;
}

.sliderSectionBlocoPrimeiroImagem {
    width: 20%;
    
}

.sliderSectionBlocoPrimeiroTitulo {
    text-align: center;
    font-size: 26px;
    font-family: var(--fonte-secundaria);
    
    margin-left: 20px;
    width: 20%;
}

.sliderSectionBlocoPrimeiroParagrafo {
    width: 45%;
    text-align: justify;
    
}

.sliderSectionCarrosel {
    width: 100%; /* Largura de 80% da seção pai */
     /* Centraliza a seção na página */
    overflow: hidden; /* Oculta os slides que não estão visíveis */
    position: relative; /* Permite o posicionamento absoluto dentro */
    background-color:#F0F2F5;
    font-size: 18px;
    align-items: center;
}



.sliderSectionCarroselBloco {
    width: 50%;
    display: flex; /* Permite o layout flexível */
    transition: transform 20.0s ease-out; /* Suaviza a transição ao mudar de slide */
    gap: 20px;
    
}


.slide {
    min-width: 95%; /* Cada slide ocupa 100% da largura do slider */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    text-align: center; /* Centraliza o texto */
    
    
    
    
    

}

.slide img {
    width: 100%; /* Faz com que a imagem preencha a largura do slide */
    height: auto; /* Mantém a proporção da imagem */
}



.servicosApresentacao {
    position: relative; /* Adicione esta linha */
    background-image: url('assets/bacgroundConfiança23.jpeg');
    background-size: 100% auto;
    background-position: center top;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    color: var(--cor-secundaria);
    overflow: hidden; /* Adicione esta linha para evitar overflow do pseudo-elemento */
}

.servicosApresentacao::before {
    content: ""; /* Necessário para o pseudo-elemento */
    position: absolute; /* Posiciona em relação ao elemento pai */
    top: 0; /* Começa do topo */
    left: 0; /* Começa da esquerda */
    right: 0; /* Se estende até a direita */
    bottom: 0; /* Se estende até a parte inferior */
    background-color: rgba(80, 79, 79, 0.5); /* Camada preta semi-transparente */
    z-index: 1; /* Coloca a camada acima do fundo, mas abaixo do conteúdo */
}

.servicosApresentacao > * {
    position: relative; /* Faz o conteúdo ficar acima da camada escurecida */
    z-index: 2; /* Assegura que o conteúdo esteja acima do pseudo-elemento */
}





.servicosApresentacaoIconTextoTitulo {
    font-size: 22px; /* Tamanho da fonte do título */
    color:--cor-primaria;
    width: 450px; 
    text-align: center;
    
}



.servicosApresentacaoTextoParagrafo {
    font-size: 18px; 
    color:var(--cor-secundaria);
    line-height: 1.5; 
    padding: 10px;
    text-align: left;
    width: 1000px;
    font-family: var(--fonte-secundaria);
    
   
}

.servicosApresentacaoTextoIcon {
    width: 200px;
    
}





.fretesApresentacao {
    
    background-size: 100% auto;
    background-position: center top;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--cor-secundaria);
    background-color: #ff6600;
    
        

    
}

.fretesApresentacaoContainer {
    display: flex;
    align-items: center;
    justify-content:center;
    
    
}

.fretesApresentacaoContainerIcone {
    width: 500px; /* Altera a largura para que ocupe toda a área possível */
    text-align: center;
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}
.fretesApresentacaoContainerIconeImagem {
    width: 250px;
}



.fretesApresentacaoContainerIconeTitulo {
    font-size: 30px;
    
    
}

    


.fretesApresentacaoContainerTexto {
    max-width: 900px;
    margin-left: 30px;
    
}

.freteApresentacaoConteinerTextoTitulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    
}

.freteApresentacaoConteinerTextoParagrafo {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

.fretesApresentacaoContainerTextoTopicos {
    list-style: none;
    padding: 0;
}

.fretesApresentacaoContainerTextoTopicos li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.fretesApresentacaoContainerTextoTopicos li .verificado {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    color: #28a745; /* cor do ícone de verificado */
}


.montagensApresentacao {
    
    background-size: 100% auto;
    background-position: center top;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--cor-secundaria);
    background-color:var(--cor-primaria);
        

    
}

.montagensApresentacaoContainer {
    display: flex;
    align-items: center;
    justify-content:center;
    
    
}

.montagensApresentacaoContainerIcone {
    width: 500px; /* Altera a largura para que ocupe toda a área possível */
    text-align: center;
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */

} 
.montagensApresentacaoContainerIconeImagem {
    width: 200px;
}

.montagensApresentacaoContainerIconeTitulo {
    font-size: 30px;
    
    
}

    


.montagensApresentacaoContainerTexto {
    max-width: 900px;
    margin-left: 30px;
    
}

.montagensApresentacaoConteinerTextoTitulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    
}

.montagensApresentacaoConteinerTextoParagrafo {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

.montagensApresentacaoContainerTextoTopicos {
    list-style: none;
    padding: 0;
}

.montagensApresentacaoContainerTextoTopicos li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.montagensApresentacaoContainerTextoTopicos li .verificado {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    color: #28a745; /* cor do ícone de verificado */
}




footer {
    position: relative;
    
    background-color: #f1f1f1; /* Cor de fundo do rodapé */
}

.linha {
    width: 100%;
    height: 2px; /* Espessura da linha */
    background-color: var(--cor-primaria); /* Cor da linha */
    position: absolute;
    top: 0; /* Posiciona a linha no topo do rodapé */
}


.apresentacaoRodape {
    padding: 2% 14%;
    width: 100%;

}




.apresentacaoRodapeIconesTexto {
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.apresentacaoRodapeDesenvolvidoPorTitulo {
    font-family: var(--fonte-primaria);
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -1px;
}

.apresentacaoRodapeIconesTextoGit {
    max-width: 40px;
    
}

.apresentacaoRodapeIconesTextoFace {
    max-width: 40px;
}

.apresentacaoRodapeIconesTextoGoogle {
    max-width: 40px;
}

.apresentacaoRodapeIconesTextoInsta {
    max-width: 40px;
}

.apresentacaoRodapeIconesTextoWhats {
    max-width: 40px;
}

.apresentacaoRodapeIconesLinkedin {
    max-width: 40px;
}

@media (max-width: 768px) {
    .cabecalhoMenu {
        flex-direction: column; /* Altera a direção para coluna */
        align-items: center; /* Alinha os itens ao centro */
        gap: 0;
        padding: 0;
    }

    .logo {
        flex: 0 0 30%; /* Mantém 30% da largura para a logo */
        max-width: 100%; /* Garante que a logo não ultrapasse seu container */
    }

    .cabecalhoMenuLinks {
        flex: 0 0 70%; /* Mantém 70% da largura para os links */
        display: flex;
        flex-wrap: wrap; /* Permite que os links envolvam */
        justify-content: center; /* Centraliza os links */
        gap: 0;
    }

    .cabecalhoMenuLink {
        font-size: 14px; /* Ajusta o tamanho da fonte para caber melhor */
        margin: 5px 10px; /* Ajusta o espaçamento entre os links */
    }
}

@media (max-width: 480px) {

    body {
        margin: 0;
        padding: 0;
    }

    

    .cabecalhoMenuLinks .cabecalhoMenuLink[href="#clientes"],
    .cabecalhoMenuLinks .cabecalhoMenuLink[href="#moveis"] {
        display: none;
    }

    .cabecalho {
        width: 100%; /* O cabeçalho ocupa toda a largura da tela */
        
    }

    .cabecalhoMenu {
        display: flex; /* Garante que os elementos sejam flexíveis */
        width: 100%; /* Garante que o cabeçalhoMenu ocupe 100% da largura */
        padding: 0; /* Remove qualquer padding extra, se houver */
        overflow: hidden;
        margin: 0;
        padding: 0;
        
    }

    .logo {
        width: 40%;
        align-content: center;
    }

   
    
    .cabecalhoMenuLinks {
        display: flex; /* Garante que os links sejam flexíveis */
        width: auto; /* Faz os links ocuparem 70% do cabeçalho */
        justify-content: space-between; 
        gap: 20px;/* Distribui os links uniformemente com espaçamento reduzido */
    }

    .cabecalhoMenuLink {
        flex: 1; /* Faz os links ocuparem o mesmo espaço */
        text-align: center; /* Centraliza o texto dos links */
        font-size: 18px; /* Reduz ainda mais o tamanho da fonte dos links */
        margin: 0; /* Remove margem entre os links */
        width: 100%;
    }

    .apresentacaoCall {
        display: flex;
        flex-direction: column;
        
        
    }
    .imagemFrete {
        display: none;
    }
    .imagemMoveis {
        display: none;
    }


    .sliderSectionBlocoPrimeiro {
        display: flex;
        flex-direction: column;
        width: 100%;
        

    }
    .sliderSectionBlocoPrimeiroTitulo {
        width: 90%;
    }
    .sliderSectionBlocoPrimeiroImagem {
        width: 60%;
    }
    .sliderSectionBlocoPrimeiroParagrafo {
        display: none;
    }

    .sliderSectionCarrosel {
        width: 100%; /* O carrossel ocupa toda a largura da tela */
        height: 350px; /* Altura fixa para o carrossel */
        overflow: hidden; /* Oculta qualquer conteúdo fora da área visível */
        position: relative;
        background-color: #F0F2F5;
        font-size: 18px;
        display: flex; /* Alinha os slides na direção correta */
    }
    
    /* Contêiner dos slides */
    .sliderSectionCarroselBloco {
        display: flex; /* Flexbox para alinhar os slides horizontalmente */
        transition: transform 0.3s ease-out; /* Transição suave */
        width: 100%; /* Certifica-se de que o contêiner dos slides ocupe toda a largura */
        flex-wrap: nowrap; /* Evita que os slides quebrem para a linha seguinte */
    }
    
    /* Estilo dos slides */
    .slide {
        flex: 0 0 100%; /* Cada slide ocupa 100% da largura do carrossel */
        box-sizing: border-box; /* Garante que o padding não afete a largura */
        height: 100%; /* Garante que os slides tenham a mesma altura que o contêiner */
    }
    
    /* Ajustes adicionais para os slides */
    .slide img {
        width: 100%; /* Faz a imagem ocupar toda a largura do slide */
        height: auto; /* Faz a imagem ocupar toda a altura do slide */
        object-fit: cover; 
        margin-left: 0;/* Faz a imagem cobrir toda a área do slide sem deformar */
    }
}
